<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div class="sidebar" data-background-color="white" data-active-color="danger" th:fragment="sidebar">

    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.commercetools.com" class="simple-text">
                CTP Users Dashboard
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="dashboard.html">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li th:class="${page == 'user'? 'active' : ''}">
                <a th:href="@{/user/1}">
                    <i class="ti-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li th:class="${page == 'table'? 'active' : ''}">
                <a th:href="@{/user/}">
                    <i class="ti-view-list-alt"></i>
                    <p>Table List</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>